.header,
.footer {
  background-color: black;
  margin: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.header {
  height: 100px;
}

.footer {
  height: 150px;
  display: flex;
  align-items: flex-start;
}

.logo-h,
.logo-f {
  color: white;
  margin: 1%;
  font-family: 'Italiana', serif;
}

.logo-h {
  display: flex;
  justify-content: start;
}

.header .icon_menu {
  color: white;
  margin-right: 1%;
}
.header .icons .icon {
  color: white;
  margin-left: 15%;
}

.header .titulo {
  color: white;
  display: flex;
  font-family: 'Italiana', serif;
  visibility: hidden;
}

.footer h6 {
  color: white;
}

.header .icons {
  display: flex;
  justify-content: end;
}

.footer .icons-social {
  display: flex;
  justify-content: start;
}

.footer a , .header a{
  margin: 8px;
  text-decoration: none;
  color: white;
}

.footer p {
  color: white;
}

body{
    font-family: 'Open Sans';
}

